@model WorkoutPlanner.Models.UserInfo

@{
    ViewBag.Title = "ProfilePage";
    var prod = (List<string>)ViewData["userInfo"];
}

<h2>Personal Information</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img alt="" src="@ViewBag.Base64String" style="height:200px;width:200px;" />
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Change photo", "AddImage", "UserInfoes", new { id = prod[6] }, null)
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>First Name:</b></p>
        </div>
        <div class="col-md-4">
            <p>@prod[1]</p>
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Edit Personal Info", "Edit", "UserInfoes", new { id = prod[6] }, null)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>Last Name:</b></p>
        </div>
        <div class="col-md-4">
            <p>@prod[2]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>Age:</b></p>
        </div>
        <div class="col-md-4">
            <p>@prod[5] years old</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>Height:</b></p>
        </div>
        <div class="col-md-4">
            <p>@prod[3]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>Weight:</b></p>
        </div>
        <div class="col-md-4">
            <p>@prod[4] lbs</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>Email:</b></p>
        </div>
        <div class="col-md-4">
            <p>@prod[0]</p>
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Change Email", "ChangeEmail", "Manage")
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><b>Password:</b></p>
        </div>
        <div class="col-md-4">
            <p><b>Hidden</b></p>
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Change Password", "ChangePassword", "Manage")
        </div>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p><b>WARNING:</b> Any changes to your email or password should be taken into account on future logins.</p>
    </div>
</div>