
@{
    ViewBag.Title = "ViewUserProfile";
    var prod = (List<string>)ViewData["userInfo"];
    var quote = (string)ViewData["userQuote"];
    var post = (List<string>)ViewData["userPost"];
    var postDate = (List<string>)ViewData["postTime"];
    var userId = (int)ViewData["userId"];
    var status = (int)ViewData["status"];
}


<div class="row">
    <div class="col-md-3">
        <h3>@prod[1] @prod[2]</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="well">
            <img alt="" src="@ViewBag.Base64String" style="height:200px;width:200px;" />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <br />
            <br />
            <br>
            <div class="col-md-offset-3">
                <p><b><q>@quote</q></b></p>
            </div>
        </div>
        <div class="row">
            <br />
            <br />
            <br>
            <div class="col-md-offset-3">
                @if (status == 2)
                {
                    <div class="well" style="width:190px;background-color:#e9e9e9">
                        <p><b>Friend Request Sent</b></p>
                    </div>
                }
                else if (status == 1)
                {
                    <input type="submit" value="Send Friend Request" id="btn3" class="btn btn-default" onclick="location.href='@Url.Action("RequestBuddy", "Buddies", new { id = userId })'" />
                }
            </div>
            <div class="col-md-offset-6">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <hr />
</div>
<div class="row">
    <div class="col-md-3">
        <p>Age: @prod[5] years old</p>
        <p>Height: @prod[3]</p>
        <p>Weight: @prod[4] lbs</p>
    </div>
</div>


<script src="~/Scripts/userPosts.js"></script>
