@model WorkoutPlanner.Models.Workout

@{
    ViewBag.Title = "Create Workout";
}
@{
    var prod6 = (List<SelectListItem>)ViewData["dayName"];
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Workouts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Add a workout to your daily schedule</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.exerciseID, "Exercise Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("exerciseID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.exerciseID, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                    @Html.ActionLink("Add a new exercise", "Create", "Exercises")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.notes, "Notes:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.set, "Sets:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.set, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.set, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.rep, "Reps:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.rep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rep, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.day, "Day:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.day, prod6)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.workoutImage, "(Optional) Image:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="image1" name="image1" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}