@model WorkoutPlanner.Models.Workout

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exercise.exerciseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exercise.exerciseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workoutName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workoutName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.set)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.set)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.workoutImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.workoutImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.workoutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
