@model IEnumerable<WorkoutPlanner.Models.Workout>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.exerciseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Muscle.muscleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reps)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exercise.exerciseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Muscle.muscleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reps)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.workoutId }) |
            @Html.ActionLink("Details", "Details", new { id=item.workoutId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.workoutId })
        </td>
    </tr>
}

</table>
